.sliderContainer {
    width: 100%;
    height: 100%;
}

.slide {
    height: 500px; border: 0px solid #8b8583;
    pointer-events: none;
}

.slide:hover {

}

.sliderImg {
    height: 100%;
}

@media only screen and (max-width: 699px) and (min-width: 250px) {

    .sliderImg {
        width: 250px;
        height: auto;
    }

    .slide {
        margin-top: 20px;
        height: 480px; border: 0px solid #8b8583;
        pointer-events: none;
    }
}