body {
    margin: 0;
}

/*
header {
    left: 0;
    float: left;
    width: 100%;
}*/

header {
    border-bottom: 1px solid #FF5714;
    left: 0;
    overflow: hidden;
    position: fixed;
    vertical-align: bottom;
    width: 100%;
    z-index: 9;
    background-color: white;
}

section {
    height: 100%;
    width: 100%;
    position: relative;
    float:left;
    height: 100vh;
}
footer {
    float: left;
    width: 100%;
}

section .part {
    float: left;
    height: 100%;
    position: relative;
    text-align: center;
    width: 100%;
}

section .part::before {
    content: "";
    display: inline-block;
    height: 100%;
    margin-right: -0.25em;
    vertical-align: middle;
}

section .part .inside {
    display: inline-block;
    margin: 0 auto;
    max-height: 100%;
    vertical-align: middle;
}